.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  & h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
  }

  & span {
    font-size: ;
  }
}
