.container {
  padding: 5px 10px;
  display: flex;
  flex-flow: column;
  gap: 15px;

  & h3 {
    color: gray;
    font-size: 14px;
  }

  & h1 {
    font-size: 20px;
    font-weight: 600;
  }

  & .gameInfo {
    display: flex;
    gap: 200px;

    & h2 {
      font-weight: 400;
      padding: 0;
      font-size: 15px;
    }
  }

  & .menu {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.374);
    & button {
      border: 0;
      background: transparent;
      color: gray;

      &:focus {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }
}
