.container {
  padding: 20px;
}
/* 승인 컴포넌트 */
& .Approvecontainer {
  padding-top: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;

  & h2 {
    font-size: 30px;
    font-weight: 600;
  }

  & section {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    gap: 15px;
    width: 70%;

    & span {
      display: flex;
      flex-flow: column;
      justify-content: start;
      font-size: 15px;
      color: silver;
      gap: 5px;

      & input {
        border: 0;
        border-bottom: 1px solid silver;
      }

      & select {
        border: 0;
        border-bottom: 1px solid silver;
        color: gray;
      }
    }

    & .gender {
      font-size: 16px;
      flex-flow: row;
    }

    & button {
      border: 0;
      color: white;
      background-color: black;
      border-radius: 5px;
      padding-block: 5px;
    }
  }
}

/* 선수 순서 컴포넌트 */
& .playerContainer {
  & .partContainer {
    background-color: snow;
  }

  & .playerList {
    display: flex;
    width: 100%;
    justify-content: space-around;
    & ul {
      padding: 20px;

      & li {
        background-color: salmon;
        border-radius: 5px;
        margin-block: 5px;
        padding-block: 5px;

        &:active {
          background-color: red;
        }
      }
    }
  }
}
