.container {
  padding: 20px;
  background-color: #f0f4f8;
  height: 100%;
}
/* 승인 컴포넌트 */
& .Approvecontainer {
  padding-top: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;

  & h2 {
    font-size: 30px;
    font-weight: 600;
  }

  & section {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    gap: 15px;
    width: 70%;

    & span {
      display: flex;
      flex-flow: column;
      justify-content: start;
      font-size: 15px;
      color: silver;
      gap: 5px;

      & input {
        border: 0;
        border-bottom: 1px solid silver;
      }

      & select {
        border: 0;
        border-bottom: 1px solid silver;
        color: gray;
      }
    }

    & .gender {
      font-size: 16px;
      flex-flow: row;
    }

    & button {
      border: 0;
      color: white;
      background-color: black;
      border-radius: 5px;
      padding-block: 5px;
    }
  }
}

/* 선수 순서 컴포넌트 */
& .playerContainer {
  & header {
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;

    & h2 {
      margin-bottom: 10px;
    }

    & input {
      border: 0;
      border-bottom: 1px solid gray;
      margin-inline: 10px;
      font-size: 18px;
    }

    & button {
      border: 0;
      background: red;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    & .randomButton {
      background: lightcoral;
      margin: 10px;
    }
  }

  & p {
    margin-block: 10px;
    color: lightgray;
  }

  & .partContainer {
    background-color: snow;
    width: 100%;
    border: 2px solid gainsboro;
    border-radius: 10px;

    & h3 {
      background: whitesmoke;
      padding: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      color: gray;
    }
  }

  & .playerList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;

    & ul {
      padding: 20px;

      & li {
        text-align: center;
        background-color: lightgrey;
        border: 1px solid gray;
        margin-block: 2px;
        padding-block: 5px;
        cursor: grab;
        transition: transform 0.3s ease-in-out;

        &:active,
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  & .submit {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 15px;
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
}
