.container {
  padding: 5px 10px;
  display: flex;
  flex-flow: column;
  gap: 15px;

  & h3 {
    color: gray;
    font-size: 14px;
  }

  & h1 {
    font-size: 20px;
    font-weight: 600;
  }

  & .selectContainer {
    display: flex;
    gap: 200px;

    & .chooseGame {
      & span {
        font-size: 14px;
      }
    }
  }

  & .gameContainer {
    & table {
      width: 100%;

      & thead {
        border-bottom: 2px solid rgba(128, 128, 128, 0.55);

        & th:nth-child(1) {
          width: 20%;
        }
        & th:nth-child(2) {
          width: 3%;
          text-align: center;
        }
        & th:nth-child(3) {
          width: 20%;
        }
      }

      & th {
        border-right: 2px solid rgba(128, 128, 128, 0.55);
        text-align: start;
        &::after {
        }
      }
    }
  }
}
