.container {
  padding: 20px;
  & nav {
    text-align: center;
    margin-block: 30px;
    padding-block: 20px;
    border-top: 7px solid #ff6565;
    border-bottom: 7px solid #001694;

    & h1 {
      font-weight: 600;
      font-size: 35px;
      color: #333399;
    }

    & .genderStyle {
      color: #e45b00;
    }
  }

  @media (max-width: 768px) {
    & nav {
      & h1 {
        font-size: 30px;
      }
    }
  }
}
/* 선수 순서 리스트 */
.playerList {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  & table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }

  & th,
  & td {
    padding: 10px;
    border: 3px solid black;
    text-align: center;
  }

  & th {
    background-color: #e0e0e0;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);

    & th,
    & td {
      font-size: 15px;
    }
  }
}

/* 결과 연기 순서표에 감독 정보 */
.resultCoachConatainer {
  & .coachTable {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;

    & th,
    & td {
      border: 3px solid black;
      padding: 8px 12px;
      text-align: center;
    }

    & th {
      width: 120px;
    }
  }

  @media (max-width: 768px) {
    & .coachTable {
      & th,
      & td {
        font-size: 14px;
      }

      & th {
        width: 50px;
      }
    }
  }
}

/* 성별 버튼 */
& .genderContainer {
  display: flex;
  gap: 5px;

  & button {
    border: 0;
    width: 10%;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: dodgerblue;
    }

    &:last-child {
      &:hover {
        background-color: hotpink;
      }
    }
  }

  /* 눌렀을 때 스타일 */
  & .active {
    background-color: dodgerblue;

    &:last-child {
      background-color: hotpink;
    }
  }
}
